<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movimientos de Medicamentos</title>
</head>
<body>
    <h1>Movimientos de Medicamentos</h1>
    <ul>
        {% for medicamento in data %}
            <li>
                <strong>{{ medicamento.medicamento }}</strong>
                <ul>
                    {% for movimiento in medicamento.movimientos %}
                        <li>{{ movimiento.institucion }} - {{ movimiento.fecha }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
